<div class="container-fluid lyt-content respHeight" id="calculatorSection">
  <div class="row lyt-banner">
    <div class="col-xl-10 col-lg-10 offset-xl-1 offset-lg-1 col-md-12 col-sm-12 bannerPadding">
      <div class="prod_form_left_outerdiv">
        <div class="prod_form_left_outerdiv_inner">
          <div *ngIf="this.tempservice.flag['showHide']['quoteSection']">
          <div><span class="home-quote-heading-text-00">India expected to have</span> <span class="percentCol"> 17
              lakhs</span><span class="home-quote-heading-text-00"> new cancer cases <span class="home-quote-heading-text-00 mobileView"
                style="font-size:13px">(by 2020)#</span></span>
            <br><span class="home-quote-heading-text-00">Cost of treatment is over </span><span class="percentCol"><sup
                class="fontRup rupeeAlign">₹</sup>23 lakhs<sup class="rupeeAlign">^</sup></span></div>
          <div class="home-quote-heading-text-0 home-get-section">
            <sup class="getExtspan">Get</sup>
            <!--  -->
            <div>
              <app-plusminus></app-plusminus>
            </div>
            <!-- -->
            <p class="getExtspanCC"><span class="border-top-black">CANCER COVER</span></p>
            <div class="lasttextdiv"><span class="justtextspan just-txt-align">@ JUST</span><sup class="fontRup cal-paddrupeeAlign">₹</sup><span
                class="lasttextspann LA1_1stPremium_Total">{{this.tempservice.premiumAmount}}</span><span class="lasttextspann yearlyTxt"></span>
              <sup class="permonthtxt" *ngIf="this.tempservice.Cancer_InputArr['Frequency'] == 'Monthly'">p.m*</sup>
              <sup class="permonthtxt" *ngIf="this.tempservice.Cancer_InputArr['Frequency'] == 'Yearly'">p.a*</sup>
            </div>
            <div class="disc-text"><span class="brdr-top">Claim paid on detection<sup>1</sup></span></div>
          </div>
          <div class="prd_div_button_outer mobile-view-qfrm d-block d-lg-none"> <a class="prd_div-button quoteBtn" id="getQuotebtn" (click)="getQuote()">Get Your Quote</a>
          </div>
          </div>
          <!-- -->
          <div id="GetQuote" *ngIf="this.tempservice.mobileStructure">
            <ngx-flip class="d-block d-lg-none" [flip]="this.tempservice.flag['showHide']['personalPage']">
              <div *ngIf="this.tempservice.showHideMobile" front @slide>
                <app-basic-details></app-basic-details>
              </div>
              <div *ngIf="this.tempservice.showHideMobile" back>
                <app-personal-details></app-personal-details>
              </div>
            </ngx-flip>
          </div>
          <!-- -->
        </div>
      </div>
      <!-- right side Main Section-->
      <div class="prod_form_right_outerdiv mobileView" id="GetQuote" >
        <ngx-flip class="d-none d-lg-block" [flip]="this.tempservice.flag['showHide']['personalPage']">
          <div class="d-none d-lg-block" front *ngIf="this.tempservice.desktopStructure">
            <app-basic-details></app-basic-details>
          </div>
          <div class="d-none d-lg-block" back *ngIf="this.tempservice.desktopStructure">
            <app-personal-details></app-personal-details>
          </div>
        </ngx-flip>
      </div>
      <!-- right side Main Section Ends-->
      
      <!--d-block d-lg-none [hidden]="this.tempservice.flag['showHide']['personalPage']
      [hidden]="!this.tempservice.flag['showHide']['personalPage']" -->

    </div>
  </div>
</div>