
<app-header></app-header>
<app-banner></app-banner>
<app-benefits></app-benefits>
<app-depend-on-us></app-depend-on-us>
<app-score-card></app-score-card>
<app-payout-options></app-payout-options>
<app-disclaimer></app-disclaimer>
<!-- <app-other-info></app-other-info> -->