<div>
  <div class="home-quote-heading-text-0 d-block d-lg-none">
    <sup class="getExtspan">To get</sup>
    <sup class="fontRup getExtspanCR"></sup>₹<span class="percenttxt">{{this.sumAssured}}</span><sup class="discounttxt">
      cancer insurance</sup>
  </div>
  <div class="prod_form_email_outerdiv">

    <div class="prd_heading1">
      <span class="backspan" (click)="backToFirst()">
      </span>You pay premium
    </div>
    <div class="prd_subheading">
      <div class="policytermtext">
        <div class="premiumSection">
          <sup class="fontRup">₹</sup>
          <span class="lasttextspan LA1_1stPremium_Total">{{this.tempservice.premiumAmount}}</span>
          <span class="lasttextspan yearlyTxt"></span>
        </div>
        <!--  -->
        <div class="premiumSection dropdownselect">
          <select (change)="this.tempservice.onChangeDropdown($event,'Frequency')" [(ngModel)]="this.tempservice.Cancer_InputArr.Frequency"
            class="js-select premiumDropDown">
            <option value="Yearly">
              Yearly
            </option>
            <option value="Monthly">
              Monthly
            </option>
          </select>
        </div>
        <div class="premiumSection dropdownselect">
          <select (change)="this.tempservice.onChangeDropdown($event,'policyterm')" [(ngModel)]="this.tempservice.Cancer_InputArr.PolicyTerm"
            class="js-select premiumDropDown">
            <option *ngFor="let p of this.tempservice.setPolicyTermDropdownprimary" [value]="p">
              {{p+" years"}}
          </select>
        </div>
      </div>
      <!-- -->

      <!-- -->
    </div>
    <div class="prod_form_email_block">
      <div class="prod_form_email_block_elements">
        <div class="prod_form_email_block_elements_label form-element4">Name</div>
        <div class="prod_form_email_block_elements_label_content">
          <input type="text" required class="form-control" (keyup)="onKeyUp($event,'first-name')" [(ngModel)]="this.tempservice.userInput['name']"
            name="first-name" id="first-name" placeholder="Firstname Lastname" value="">
          <label for="first-name" id="first-name-error" class="error_text">{{nameErrorMsg}}</label>
        </div>
      </div>
      <div class="prod_form_email_block_elements">
        <div class="prod_form_email_block_elements_label form-element5">Mobile No.</div>
        <div class="prod_form_email_block_elements_label_content">
          <input type="tel" required (keyup)="onKeyUp($event,'mobile-number')" [(ngModel)]="this.tempservice.userInput['Mobile']"
            name="mobile-number" id="mobile-number" maxlength="10" class="form-control mobnum restrictInputChar"
            placeholder="Enter your mobile number">
          <label for="mobile-number" id="mobile-number-error" class="error_text">{{mobileErrorMsg}}</label>
        </div>
      </div>
      <div class="prod_form_email_block_elements">
        <div class="prod_form_email_block_elements_label form-element6">Email ID</div>
        <div class="prod_form_email_block_elements_label_content">
          <input type="text" required (keyup)="onKeyUp($event,'email')" [(ngModel)]="this.tempservice.userInput['email']"
            name="email" id="email" class="form-control emailid" placeholder="Enter your email ID" maxlength="50">
         
          <label for="email" id="email-error" class="error_text">{{emailErrorMsg}}</label>
        </div>

      </div>
      <div class="prod_form_email_block_elements">
        <div class="prod_form_email_block_elements_label form-element7">Pin Code</div>
        <div class="prod_form_email_block_elements_label_content">
          <input type="tel" required (keyup)="onKeyUp($event,'pincode')" [(ngModel)]="this.tempservice.userInput['pincode']"
            name="pincode" id="pincode" class="form-control" maxlength="6" placeholder="Enter your pincode">
         
          <label for="pincode" class="error_text">{{pincodeErrorMsg}}</label>
        </div>
      </div>
    </div>
    <form id="CancerJsonForm" action="" method="POST" #CancerJsonForm>
      <input type="hidden" name="bolData" id="bolData" value="" #bolData>
    </form>
    <div class="prd_div_button_outer act-btn">
      <button class="btn-custom btn-red btn-form formValidate_step prd_div-button" (click)="continueToAppform()">continue</button>
    </div>
    <div class="bydetails">
      <div class="checkbox">
        <input type="checkbox" id="checkbox_1" [(checked)]="this.tempservice.flag['InfoSubmitFlag']" (change)="changeCheked()">
        <label for="checkbox_1">By submitting my details, I override my NDNC registration and authorize ICICI
          Prudential
          and its representatives to contact me. I further consent to share my information on confidential basis with
          third parties for evaluating and processing this proposal.</label>
      </div>
    </div>
  </div>
</div>