<div class="container-fluid header">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
      <div class="respMenuIcon col-2 col-md-2 d-block d-lg-none header-wrap">
        <a href="javascript:void(0)" class="menu-btn d-block d-lg-none d-md-block" [class.headeractive]="leftDiv"
          (click)="showHeader()">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-8 col-8 header-wrap left-cont">
        <a class="icici-logo">
            <img src="./././assets/images/ipru_logo.png" title="ICICI Prudential Life Insurance" alt="icici-logo" class="icici-logo-resp">
          </a>
      </div>
      <div class="col-xl-8 col-lg-8 d-none d-lg-block header-wrap headerMenuList" [ngClass]="{ 'expand-on-scroll': addCss}">

        <nav class="navbar navbar-expand menu-list">
          <ul class="navbar-nav" [class.showanimate]="expand">
            <li class="nav-item nav-term">
              <a href="javascript:void(0)" (click)="show()" [ngx-scroll-to]="'#benefit-scroll'">BENEFITS</a>
            </li>
            <li class="nav-item nav-term">
              <a href="javascript:void(0)" (click)="scrollFunction()" [ngx-scroll-to]="'#assurance'">ASSURANCE</a>
            </li>
            <!-- <li class="nav-item nav-term">
              <a href="javascript:void(0)" (click)="scrollFunction()">HOW IT WORKS</a>
            </li> -->
            <li class="nav-item nav-term">
              <a href="javascript:void(0)" (click)="scrollFunction()">NEED HELP</a>
            </li>
            <li class="nav-item nav-term">
              <a href="javascript:void(0)" (click)="tracker()">TRACK APPLICATION</a>
            </li>
            <li class="nav-item bs-dropdown no-border nav-term">
              <a href="javascript:void(0)" (click)="Clk_Brochure()"><span class="brochure-icon"><i class="fa fa-download"></i></span>BROCHURE</a>
            </li> 
          </ul>
        </nav>
      </div>
      <div class="col-2 d-md-none d-block header-wrap">
        
      </div>
    </div>
</div>
<div class="headerMenu d-block d-lg-none" [ngClass]="showpanel? 'active' : 'disabled'" style="display: inline-block;">
  <ul class="mod-menu js-menu active">

    <li>
      <a href="javascript:void(0)" class="nav-link typ-scroll" (click)="close()" [ngx-scroll-to]="'#benefit-scroll'">BENEFITS</a>
    </li>
    <li>
      <a href="javascript:void(0)" class="nav-link typ-scroll" (click)="close()" [ngx-scroll-to]="'#assurance'">ASSURANCE</a>
    </li>
    <!-- <li class="nav-mobile call-request">
      <a href="javascript:void(0)" class="nav-link" (click)="callRequestMethod()">HOW IT WORKS</a>
    </li> -->
    <li>
      <a href="javascript:void(0)" class="nav-link typ-scroll" (click)="close()">NEED HELP</a>
    </li>
    <li>
      <a href="javascript:void(0)" class="nav-link typ-scroll" (click)="close()">TRACK APPLICATION</a>
    </li>
    <li>
      <a (click)="Clk_Brochure()" href="javascript:void(0)" class="nav-link typ-scroll" (click)="close()">BROCHURE</a>
    </li>
  </ul>
</div>
 <div class="float-act-wrapper d-lg-block d-none">
  <a href="javascript:void(0)" class="btn-calculator" [ngClass]="{ 'set-cal-icon': showReturnHomeIcon}"
    [class.Cal-active]="isSelected" *ngIf="showDownCalIcon" [ngx-scroll-to]="'#calculatorSection'">
    <span class="icon icon-calc"></span>
    <span class="icon-txt">Check Premium</span>
  </a>
</div>
<!-- <app-popup #callRequest>
   <div class="num-wrap"> 
  <div class="resuablepopupheader">
    <div class="mainHeadContent">
      <div class="headContent">
        <img src="./././assets/images/get-call.png" alt="get a call">
        <div class="name">Please give us a missed call on</div>
        <div class="number">+91 8963995991</div>
      </div>
    </div>
  </div>
  <span class="resuablepopupclose">
    <span class="icon icon-close" aria-hidden="true" (click)="closecallRequest()"></span>
  </span>
  <div class="resuablepopupbody">
    <div class="call-title">Call centers hours:</div>
    <div class="timing">9.30 a.m. – 6.30 p.m.</div>
    <div class="timing">Monday - Saturday</div>
    <button class="btn orange-button">call now</button>
    <button class="callLater">NO, I'LL CALL LATER</button>
  </div>
</app-popup> -->
