  .icici-logo-resp {
    padding-left: 25%;
  }
  .headerMenuList {
    margin: 5px 0px;
  }
  .header {
    padding: 10px 0;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1999;
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0 7px 17px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 7px 17px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0px 7px 17px 0px rgba(0, 0, 0, 0.07);
    background: #fff;
  }  
  .header-wrap {
    float: left;
  }
  .menu-list li {
    margin: 0 19px 0 0;
    padding-right: 20px;
    border-right: 1px solid #a6a6a6;
    vertical-align: middle;
  }
  .set-home-icon {
    transform: translate3d(0, 120%, 0);
    transition-duration: 600ms !important;
  }
  .set-cal-icon {
    transform: translate3d(0, -250%, 0);
    transition-duration: 600ms !important;
  }
  .showanimate {
    display: inline !important;
  }
  .headerMenuList {
    transition: all 0.2s ease-out;
  }
  .expand-on-scroll {
    transition: all 0.2s ease-in;
  }
  .header .menu-list li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 19px 0 0;
    padding-right: 10px;
    border-right: 1px solid #a6a6a6;
    transition: opacity 0.4s ease-in;
  }
  .menu-list li a {
    cursor: pointer;
    font-size: 13px;
    display: block;
    text-align: center;
    color: #7c7c7c;
    transition: all 0.3s ease-in;
  }
  .header .menu-list li.no-border {
    border-right: 0;
  }
  .menu-list li a.btn {
    color: #fff;
    min-width: 0;
    padding: 7px 10px;
    font-weight: 300;
  }
  .menu-list li a:hover {
    text-decoration: none;
  }
  .btn {
    border: 0;
    border-radius: 3px;
    padding: 14px 10px;
    background: #fff;
    color: #323232;
    font-weight: 600;
    font-size: 18px;
    min-width: 285px;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #323232;
    cursor: pointer;
    box-shadow: 3px 4px 7.36px 0.64px rgba(0, 0, 0, 0.15);
  }
  .header .menu-btn span {
    background-color: #215585;
    height: 3px;
    width: 30px;
    display: block;
    margin: 6px 20px;
  }
  .nav-term {
    height: 20px;
    top: 10px;
  }
  .brochure-icon {
    margin-right: 5px;
  }
  /*  down Icons*/
  .float-act-wrapper {
    /* width: 104px; */
    display: block;
    position: fixed;
    bottom: 48px;
    right: 50px;
    z-index: 10;
    height: 180px;
  }
  
  .float-act-wrapper .btn-calculator {
    background: transparent url(../../../assets/images/iconsSprite.png) no-repeat center -500px;
    width: 120px;
    height: 86px;
    display: block;
    position: fixed;
    bottom: 90px;
    right: 0px;
    visibility: visible;
    opacity: 1;
  }
  
  .float-act-wrapper a:hover {
    text-decoration: none;
  }
  
  .float-act-wrapper.typ-multiBtn .btn-calculator {
    transition: all 0.6s linear;
    bottom: 150px;
  }
  
  .float-act-wrapper .btn-calculator .icon {
    font-size: 25px;
    line-height: 60px;
    color: #fff;
  }
  
  .float-act-wrapper .btn-calculator .icon-txt {
    position: absolute;
    bottom: 0;
    left: 0px;
    font-size: 12px;
    color: #b32832;
    line-height: 6px;
    font-weight: 800;
    display: block;
    text-transform: uppercase;
  }
  
  .float-act-wrapper .btn-home {
    width: 60px;
    height: 60px;
    display: block;
    position: fixed;
    bottom: 150px;
    right: 40px;
    background: #f5821f;
    border-radius: 50%;
    opacity: 1;
    visibility: visible;
    text-align: center;
  }
  
  .float-act-wrapper.typ-multiBtn .btn-home {
    transition: all 0.6s linear;
    bottom: 150px;
  }
  
  .float-act-wrapper .btn-home .icon {
    font-size: 25px;
    line-height: 60px;
    color: #fff;
  }
  
  .float-act-wrapper .btn-home .icon-txt {
    font-size: 11px;
    line-height: 16px;
    color: #323232;
    font-weight: 800;
    display: block;
    text-transform: uppercase;
    margin-top: 5px;
  }
  
  .Cal-active {
    transition: all 0.3s linear;
    visibility: visible;
    opacity: 1;
    width: 60px;
    height: 60px;
    display: block;
    position: fixed;
    bottom: 50px;
    right: 48px;
    background: #f5821f;
    border-radius: 50%;
    text-align: center;
  }
  .num-wrap {
    padding: 20px;
    background: #f9f9f9;
  }

  .callLater {
    margin: 0;
    display: block;
    text-align: center;
    color: #537085;
    margin: 10px auto 0;
    border: none;
    background: 0;
  }
  .headContent {
    margin-left: 10%;
  }
  
  
  @media (min-width: 1920px) {
    .header{
    padding: 10px 11%;
    }
  }
  
  @media (max-width: 1281px) {
    .menu-list li a {
      font-size: 11px;
    }
  }
  
  @media (max-width: 1024px) {
    .header {
      height: auto;
    }
    .header .menu-list {
      float: right;
    }
    .header-wrap {
      float: none;
    }
  }
  @media (max-width: 1281px) {
    .menu-list li a {
      font-size: 9px;
    }
  }
  @media screen and (max-width: 1100px) and (min-width: 770px) {
    .icici-logo-resp {
      float: none;
    }
    .header .menu-list li {
      margin: 0 16px 0 0;
      padding-right: 16px;
    }
  }
  
  @media (max-width: 769px) {
    .header {
      height: 65px;
    }
    .icici-logo {
      width: 150px;
    }
    .icici-logo-resp {
      width: 100%;
      /* padding-right: 6%; */
      padding-left: 10%;
    }
    .menu-btn {
      position: absolute;
      left: -15px;
    }
    .header {
      padding: 15px 0px;
    }
    .header-wrap {
      float: left;
    }
    .menu-list li a {
      font-size: 11px;
    }
  
    .float-act-wrapper .btn-home {
      width: 60px;
      height: 60px;
      display: block;
      position: fixed;
      bottom: 7%;
      left: 3%;
      background: #f5821f;
      border-radius: 50%;
      opacity: 1;
      visibility: visible;
      text-align: center;
    }
  
    .float-act-wrapper .btn-calculator {
      width: 60px;
      height: 60px;
      display: block;
      position: fixed;
      bottom: 7%;
      right: 2%;
      background: #f5821f;
      border-radius: 50%;
      text-align: center;
    }
  
    .headeractive {
      transform: translateX(0);
      -webkit-transform: translateX(0);
    }
  
    .modal-overlay {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      z-index: -1;
      opacity: 0;
      transition: opacity 0s ease-in;
    }
  
    .modal-overlay.active {
      opacity: 1;
      z-index: 25;
      transition-duration: 0.5s;
    }
  
    .headerMenu {
      position: fixed;
      left: 0;
      top: 62px;
      background: #fff;
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transition: all 0.8s;
      -webkit-transition: all 0.8s;
      -ms-transition: all 0.8s;
      padding: 0;
      border-top: 1px solid #e5dede;
      width: 100%;
      margin: 0;
      overflow-y: auto;
      bottom: 0;
      z-index: 9999;
    }
  
    .headerMenu.active {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    .headerMenu ul {
        padding-left: 0px;
    }
    .headerMenu li {
      float: none;
      display: block;
      border: 0;
      border-bottom: 1px solid #e5dede;
      margin: 0;
      padding: 0;
    }
  
    .headerMenu li a {
      font-size: 14px;
      padding: 18px 20px;
      text-align: left;
      font-weight: 600;
      color: #7c7c7c;
    }
  
    .headerMenu li.nav-get-quote a {
      border: 0;
      box-shadow: none;
      color: orange;
      background: 0 0;
      text-align: left;
    }
  
    .mobileLogo {
      width: 100%;
    }
  
    .set-cal-icon {
      transform: translate3d(0, 0%, 0);
      transition-duration: 0ms !important;
    }
  
    .set-home-icon {
      transform: translate3d(0, 0%, 0);
      transition-duration: 0ms !important;
    }
  
    .float-act-wrapper {
      position: fixed;
      bottom: 48px;
      right: 50px;
      z-index: 10;
    }
    .left-cont {
      width: 35%;
    }
  }
  @media (max-width: 576px) {
    .icici-logo-resp {
      width: 100%;
      /* padding-right: 22%; */
    }
    .left-cont {
      width: 100%;
    }
  }
  @media (max-width: 375px) {
    .float-act-wrapper .btn-home {
      bottom: 7%;
      left: 3%;
    }
  }
  
  @media (max-width: 321px) {
    .float-act-wrapper .btn-home {
      bottom: 7%;
      left: 3%;
    }
    .icici-logo-resp {
      width: 100%;
      padding-right: 22%;
    }
  }