.payoutOptions {
    padding: 30px 0;
    background: #f5f5f5;
}
.payoutWrapper {
    float: left;
}
.news-card {
    height: 335px;
    background: none;
    box-shadow: 0px 0px 0px;
    border-right: 1px #c7c3c3 solid;
    margin: 15px 0px;
    max-width: 545px;
    padding: 10px 0px;
}
.p-l-20 {
    background: no-repeat;
    padding-left: 0px;
}
.news-card .sub-heading {
    color: #053c6d;
    font-size: 24px;
    margin: 10px 0px;
}
.news-card .para {
    color: #555;
}
.news-card .p-l-20 .para {
    font-size: 17px;
    width: 95%;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.paymeth {
    display: inline-block;
    font-size: 13px;
    text-align: left;
    width: 130px;
    margin: 12px 20px 9px 0px;
    padding: 7px 0px;
}
.icon2_nc {
    background-position: -42px -278px;
}
.brdrgt {
    border-right: 1px #e4e4e4 solid;
}
.iconpay {
    display: block;
    width: 95px;
    height: 37px;
    background-image: url(../../../assets/images/iconsSprite.png);
    background-repeat: no-repeat;
}
.icon1_nc {
    background-position: -40px -185px;
}
.brdrgt {
    border-right: 1px #e4e4e4 solid;
}
.icon3_nc {
    background-position: -45px -410px;
}
.icon4_nc {
    background-position: -40px -319px;
}
.brdrgt {
    border-right: 1px #e4e4e4 solid;
}
.icon5_nc {
    background-position: -40px -361px;
}
.brdrgt {
    border-right: 1px #e4e4e4 solid;
}
.icon3_nc {
    background-position: -45px -410px;
}
.news-card .tollnum {
    font-size: 24px;
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #666;
    margin: 20px 0px;
}
.tollnum {
    background-image: url(../../../assets/images/iconsSprite.png);
    background-repeat: no-repeat;
    padding-left: 50px;
    background-position: -40px -226px;
}
span.tollnum a {
    color: #444;
}
.news-card .p-l-20 .para {
    width: 95%;
}
.news-card.noright {
    border-right: 0px #c7c3c3 solid;
}

@media (min-width: 1920px) {
    .payoutPadding {
        padding: 0px 11%;
    }
}

@media (max-width: 767px) {
    .news-card .sub-heading {
        text-align: center;
    }
    .news-card .p-l-20 .para {
        color: #555;
        width: 95%;
        text-align: center;
        font-size: 13px;
        line-height: 20px;
    }
    
    .paymeth {
        margin-right: 20px;
        width: 25%;
        font-size: 11px;
    }
    .brdrgt {
        border-right: 0px #e8e7e7 solid;
    }
    .rightborder {
        border-right: 1px #e8e7e7 solid;
    }
    .news-card {
        height: auto;
        border-right: 0px #020202 solid;
        margin: 0px;
        border-bottom: 1px #c7c3c3 solid;
    }
    .news-card.noright {
        border-top: 1px #c7c3c3 solid;
        margin-top: 0px;
    }
    .news-card .tollnum {
        font-size: 26px;
        display: block;
        padding-top: 20px;
    }
}