<div class="container-fluid lyt-spl-discount" id="benefit-scroll">
  <div class="col-xl-10 offset-xl-1 col-lg-12 col-12 benefitPadding">
    <div class="row">
      <div class="col-xl-12 col-md-12 d-none d-lg-block sec-head">
        <h2 class="sec-title">Benefits of
          <span class="cm-line-break">
            <span class="divider"></span>
            our health plan<span class="divider">
            </span>
          </span>
        </h2>
      </div>
      <div class="col-12 d-block d-xl-none sec-head">
        <h2 class="sec-title">Benefits of our
          <span class="cm-line-break">
            <span class="divider"></span>
            health plan<span class="divider">
            </span>
          </span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-12">
        <div class="col-lg-4 col-12 benefit-wrapper">
          <div class="div-benfits">
            <p class="befits-img"><img src="./././assets/images/icon_payout2.png" alt="Payout On Diagnosis
              "></p>
            <h4><span class="blue-title-unique">Payout On Diagnosis</span></h4>
            <span class="txt">Get paid on diagnosis of any of the listed Minor/Major conditions</span>
          </div>
        </div>
        <div class="col-lg-4 col-12 benefit-wrapper">
          <div class="div-benfits">
            <p class="befits-img"><img src="./././assets/images/claim_icon_new.png" alt="Affordable Health Cover
              "></p>
            <h4><span class="blue-title-unique">Get Claim Without Worry</span></h4>
            <span class="txt">Get entire claim amount irrespective of the actual money spent on treatment</span>
          </div>
        </div>
        <div class="col-lg-4 col-12 benefit-wrapper">
          <div class="div-benfits">
            <p class="befits-img"><img src="./././assets/images/hospital_icon.png"></p>
            <h4><span class="blue-title-unique">Choose Your Hospital</span></h4>
            <span class="txt" style="font-size: 15px;">No need to find a network hospital, get treated at a hospital of
              your choice</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-12">
        <div class="col-lg-4 col-12 benefit-wrapper">
          <div class="div-benfits">
            <p class="befits-img"><img src="./././assets/images/icon_wiver.png"></p>
            <h4><span class="blue-title-unique">Waiver Of Premium</span></h4>
            <span class="txt" style="font-size: 15px;">In case of Minor/Major claim or on diagnosis of permanent
              disability due to accident</span>
          </div>
        </div>
        <div class="col-lg-4 col-12 benefit-wrapper">
          <div class="div-benfits">
            <p class="befits-img"><img src="./././assets/images/no_medical_icon.png" alt="No Health Check Up"></p>
            <h4><span class="blue-title-unique">No Health Check Up</span></h4>
            <span class="txt" style="font-size: 15px;">Just answer few health questions and get your plan without even
              going for a medical checkup</span>
          </div>
        </div>
        <div class="col-lg-4 col-12 benefit-wrapper">
          <div class="div-benfits nobottomborder">
            <p class="befits-img"><img src="./././assets/images/protection_cover_icon.png" alt=" Large Cover For Long Term"></p>
            <h4><span class="blue-title-unique">Large Cover For Long Term</span></h4>
            <span class="txt" style="font-size: 15px;">Get a large cover of up to <span style="font-family: IndianRupee;">`</span>
              50 lakhs for up to 40 years policy term</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>