.otherInfo {
    padding: 40px 0; 
    background-color: #97291e;
    color: #fff;  
}
.footer {
    font-size: 14px;
}
h4 {
    font-size: 18px;
}
.cService {
    color: #fff;
}
.footer h4 {
    font-family: ZurichBT-Bold;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 0;
    text-transform: capitalize;
}
.footer-list {
    display: inline-block;
    font-family: ZurichBT-Roman;
    padding-left: 0;
    width: 100%;
}
ul {
    list-style: none;
    margin: 0;
}
.footer-list li a:hover, .footer-list li a:focus {
    color: #fc6;
    text-decoration: none;
}
.footer-list li a {
    color: #fff;
    font-size: 13px;
}
.toolsCalculator li {
    margin-bottom: 0 !important;
}
.footer-list li {
    margin-bottom: 15px;
}
.prod-list .inner-footer, .service-box.inview {
    padding-left: 10px;
}
.inner-footer li {
    margin-bottom: 0;
}
.open-list a {
    color: #fff;
}
ul.footer-list.social-list li a span {
    display: inline !important;
    padding: 10px 5px;
    position: relative;
    top: -22px;
}
.img-svr1 {
    width: 55px;
    height: 53px;
    background-repeat: no-repeat;
    display: inline-block;
  }

  .FB {
    background-position: -15px -0px
  }

  .Twitter {
    background-position: -73px -58px
  }

  .Youtube {
    background-position: -15px -116px
  }

  .LinkedIn {
    background-position: -15px -58px
  }

  .Googleplus {
    background-position: -72px 0px
  }

  ul.footer-list.social-list li a span {
    display: inline;
    padding: 10px 5px;
    position: relative;
    top: -22px;
  }
  .footer-list.social-list li, .prod-list > li {
    margin-bottom: 15px;
}
.footer-list.social-list a, .mblock img {
    display: inline-block;
}
.footeraddress {
    font-family: ZurichBT-Roman;
    font-size: 11px;
    text-align: center;
}
.irdai-block {
    border: 1px solid #fff;
    display: inline-block;
    padding: 20px;
    width: 100%;
}
.txt-content h6 {
    margin-top: 0;
    text-transform: uppercase;
}
h6 {
    font-size: 12px;
}
.txt-content {
    display: inline-block;
    font-family: ZurichBT-Roman;
    font-size: 11px;
    line-height: 18px;
    margin-right: 5%;
    vertical-align: middle;
    width: 70%;
}
.ir-btn {
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    background-color: #e77817;
    border: 1px solid transparent;
    color: #fff;
    display: inline-block;
    font-family: ZurichBT-Roman;
    font-size: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease;
    vertical-align: middle;
    width: 24%;
}


@media (max-width: 767px) {
      .footer {
          display: inline-block;
      }
    .footer-list.social-list {
      padding: 0 15px 65px;
    }
    .otherInfo {
        padding: 20% 0; 
        background-color: #97291e;
        color: #fff; 
    }
    .irdai-block {
        padding: 10px;
    }
    .txt-content {
        margin: 0;
        width: 100%;
    }
    .ir-btn {
        margin-top: 10px;
        padding: 10px;
        width: 100%;
    }
  }