<div class="container-fluid otherInfo">
  <div class="col-xl-10 offset-xl-1 col-lg-12 col-12 footer">
    <div class="parbase gridsystem section">
      <div class="row">
        <div class="col-xs-12 col-3 col-lg-3">
          <h4 class="open-list">product links</h4>
          <ul class="footer-list prod-list">
            <li><a adhocenable="false" target="_blank" href="/insurance-plans/buy-life-insurance-online.html?UID=1414">Buy
                Online</a></li>
            <li><a adhocenable="false" target="_blank" href="/term-insurance.html?UID=1413">Term Insurance</a></li>
            <li><a adhocenable="false" target="_blank" href="/investment-options/tax-saving-investment-calculator.html?UID=1413">Tax
                Saving Investment Plan</a></li>
            <li><a adhocenable="false" target="_blank" href="/term-insurance/term-insurance-plans.html?UID=1413">Term
                Plans</a>
              <ul class="inner-footer">
                <li><a adhocenable="false" target="_blank" href="/term-insurance-plans/iprotect-smart-term-plan.html?UID=1413">ICICI
                    Pru iProtect Smart</a></li>
                <li><a adhocenable="false" target="_blank" href="/term-insurance-plans/icare-ii-term-plan.html?UID=1413">ICICI
                    Pru iCare II</a></li>
              </ul>
            </li>
            <li><a adhocenable="false" target="_blank" href="/health-insurance/health-insurance-plans.html?UID=1413">Health
                Insurance Plans</a>
              <ul class="inner-footer">
                <li><a adhocenable="false" target="_blank" href="/health-insurance-plans/icici-pru-heart-cancer-protect-details.html?UID=1413">ICICI
                    Pru Heart / Cancer Protect</a></li>
                <li><a adhocenable="false" target="_blank" href="/health-insurance/smart-health-critical-illness-insurance-plan.html?UID=1413">ICICI
                    Pru Smart Health Cover</a></li>
              </ul>
            </li>
            <li><a adhocenable="false" target="_blank" href="/ulip-plans/unit-linked-insurance-plans.html?UID=1413">Unit
                Linked Insurance Plans (ULIPs)</a>
              <ul class="inner-footer">
                <li><a adhocenable="false" target="_blank" href="/ulip-plans/icici-single-premium-policy-pru-one-wealth.html?UID=1413">ICICI
                    Pru1 Wealth (New)</a></li>
                <li><a adhocenable="false" target="_blank" href="/ulip-plans/icici-ulip-lifetime-classic-plan.html?UID=1413">ICICI
                    Pru LifeTime Classic </a></li>
                <li><a target="_blank" href="/ulip-plans/elite-life-super-plan.html?UID=1413" adhocenable="false">ICICI
                    Pru Elite Life Super </a></li>
                <li><a target="_blank" href="/ulip-plans/elite-wealth-super-plan.html?UID=1413" adhocenable="false">ICICI
                    Pru Elite Wealth Super</a><br>
                </li>
                <li><a adhocenable="false" target="_blank" href="/ulip-plans/guaranteed-wealth-protector-plan.html?UID=1413">ICICI
                    Pru Guaranteed Wealth Protector</a></li>
              </ul>
            </li>
            <li><a adhocenable="false" target="_blank" href="/child-insurance/child-insurance-plans.html?UID=1413">Child
                Education Insurance Plans</a>
              <ul class="inner-footer">
                <li><a adhocenable="false" target="_blank" href="/ulip-plans/smart-life-plan.html?UID=1413">ICICI Pru
                    Smart Life</a></li>
                <li><a adhocenable="false" target="_blank" href="/guaranteed-child-saving-plans/future-perfect.html?UID=1413">ICICI
                    Pru Future Perfect - Child plan</a></li>
              </ul>
            </li>
            <li><a adhocenable="false" target="_blank" href="/retirement-pension-plans.html?UID=1413">Retirement Plans
              </a>
              <ul class="inner-footer">
                <li><a adhocenable="false" target="_blank" href="/retirement-pension-plans/easy-retirement-plan.html?UID=1413">ICICI
                    Pru Easy Retirement(ULIP)</a></li>
                <li><a adhocenable="false" target="_blank" href="/retirement-pension-plans/immediate-annuity-retirement-plan.html?UID=1413">ICICI
                    Pru Immediate Annuity</a></li>
                <li><a adhocenable="false" target="_blank" href="/retirement-pension-plans/qrops-overseas-pension-scheme.html?UID=1413">ICICI
                    Pru QROPS</a></li>
              </ul>
            </li>
            <li><a adhocenable="false" href="/money-back-endowment-plans.html?UID=1413" target="_blank">Traditional
                Savings/ Money Back&nbsp;Plans</a><br>
              <ul class="inner-footer">
                <li><a adhocenable="false" target="_blank" href="/money-back-endowment-plans/cash-advantage-money-back-plan.html?UID=1413">ICICI
                    Pru Cash Advantage</a></li>
                <li><a adhocenable="false" target="_blank" href="/money-back-endowment-plans/savings-suraksha-endowment-plan.html?UID=1413">ICICI
                    Pru Savings Suraksha</a></li>
                <li><a adhocenable="false" target="_blank" href="/money-back-endowment-plans/future-perfect-endowment-plan.html?UID=1413">ICICI
                    Pru Future Perfect</a></li>
              </ul>
            </li>
          </ul>
          <ul class="footer-list prod-list">
            <li><a adhocenable="false" href="/term-insurance/what-is-term-insurance.html?UID=1413" target="_blank">What
                is Term Insurance?</a></li>
          </ul>
          <ul class="footer-list prod-list">
            <li><a adhocenable="false" href="/health-insurance/what-is-health-insurance.html?UID=1413" target="_blank">What
                is Health Insurance?</a></li>
          </ul>
          <ul class="footer-list prod-list">
            <li><a adhocenable="false" href="/health-insurance/what-is-critical-illness-insurance.html?UID=1413" target="_blank">What
                is Critical Illness Insurance?</a></li>
          </ul>
          <ul class="footer-list prod-list">
            <li><a adhocenable="false" href="/ulip-plans/ulip-plan-comparison.html?UID=1415" target="_blank">Compare
                Ulip Plans</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-3 col-lg-3">
          <h4 class="open-list d-lg-block d-none"><a class="cService" adhocenable="false" target="_blank" href="/services/online-services.html">Customer
              Service</a></h4>
          <h4 class="open-list d-block d-lg-none">Customer Service</h4>
          <ul class="footer-list prod-list">
            <li><span class="footer-sub">Premium Payment</span>
              <ul class="inner-footer">
                <li><a adhocenable="false" target="_blank" href="https://customer.iciciprulife.com/csr/csr_onlinePreIssuancePayment.htm">Pay
                    Your First Premium</a></li>
                <li><a adhocenable="false" target="_blank" href="/services/pay-life-insurance-premium-online.html">Pay
                    Renewal Premium</a></li>
              </ul>
            </li>
            <li><span class="footer-sub">Download Statements</span>
              <ul class="inner-footer">
                <li><a adhocenable="false" target="_blank" href="/services/e-welcome-kit.html">e-Welcome kit/Policy
                    Document</a></li>
                <li><a adhocenable="false" target="_blank" href="/services/download-premium-paid-certificate.html">Tax/Premium
                    Paid Certificate</a></li>
                <li><a adhocenable="false" target="_blank" href="/services/view-unit-statement-online.html">Policy/Unit
                    Statement</a></li>
              </ul>
            </li>
            <li><span class="footer-sub">Manage Your Funds</span>
              <ul class="inner-footer">
                <li><a adhocenable="false" target="_blank" href="https://customer.iciciprulife.com/csr/cmmn-home.htm">Check
                    Fund Value</a></li>
                <li><a adhocenable="false" target="_blank" href="https://customer.iciciprulife.com/csr/cmmn-home.htm">Switch
                    Funds</a></li>
                <li><a adhocenable="false" target="_blank" href="/services/top-up-insurance-policy.html">Top Up</a></li>
              </ul>
            </li>
            <li><span class="footer-sub">Update Profile Details</span>
              <ul class="inner-footer">
                <li><a adhocenable="false" target="_blank" href="https://customer.iciciprulife.com/csr/cmmn-home.htm">Update
                    Contact Details</a></li>
                <li><a adhocenable="false" target="_blank" href="/services/update-your-aadhaar.html">Update PAN Details</a></li>
                <li><a adhocenable="false" target="_blank" href="https://customer.iciciprulife.com/csr/cmmn-home.htm">Update
                    Nominee Details</a></li>
              </ul>
            </li>
            <li><a class="d-block d-lg-none" adhocenable="false" target="_blank" href="/sitemap.html">Sitemap</a></li>
          </ul>
          <h4 class="open-list d-lg-block d-none"><a adhocenable="false" target="_blank" href="/sitemap.html">Sitemap</a></h4>
          <div><a href="/tools-and-calculators.html?UID=1413">
              <h4 class="open-list d-lg-block d-none" style="margin-bottom: 20px; margin-top: 30px; color: #ffffff;">Tools
                and
                Calculators</h4>
            </a>
            <h4 class="open-list d-block d-lg-none">Tools and Calculators</h4>
            <ul class="footer-list toolsCalculator">
              <li><a href="/term-insurance-plans/iprotect-smart-term-insurance-calculator.html?UID=1413" title="Term Insurance Premium Calculator">Term
                  Insurance Premium Calculator</a></li>
              <li><a href="/insurance-guide/financial-planning-tools-calculators/income-tax-calculator.html?UID=1413"
                  title="Income Tax Calculator">Income Tax Calculator</a></li>
              <li><a href="/insurance-guide/financial-planning-tools-calculators/power-compounding-calculator.html?UID=1413"
                  title="Power of Compounding Calculator">Power of Compounding Calculator</a></li>
              <li><a href="/insurance-guide/financial-planning-tools-calculators/retirement-planning-calculator.html?UID=1413"
                  title="Retirement Planning Calculator">Retirement Planning Calculator</a></li>
              <li><a href="/insurance-guide/financial-planning-tools-calculators/iprotect-home-loan-insurance-calculator.html?UID=1413"
                  title="Home Loan Insurance Calculator">Home Loan Insurance Calculator</a></li>
              <li><a href="/insurance-guide/financial-planning-tools-calculators/child-education-calculator.html?UID=1413"
                  title="Child’s Education Cost Calculator">Child’s Education Cost Calculator</a></li>
              <li><a href="/insurance-guide/financial-planning-tools-calculators/human-life-value-calculator.html?UID=1413"
                  title="Human Life Value Calculator">Human Life Value Calculator</a></li>
              <li><a href="/insurance-guide/financial-planning-tools-calculators/hra-exemption-calculator.html?UID=1413"
                  title="HRA Calculator">HRA Calculator</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-3">
          <h4 class="open-list">Quick Links</h4>
          <ul class="footer-list toolsCalculator">
            <li><a href="/about-us/investor-relations/yearly-public-disclosures.html" title="Public Disclosure">Public
                Disclosure</a></li>

            <li><a href="/insurance-plans/revisionary-bonus-declaration.html" title="Bonus Declaration">Bonus
                Declaration</a></li>

            <li><a href="/insurance-library/income-tax/goods-and-services.html" title="Goods and Services Tax Rates 2017">Goods
                and Services Tax Rates 2017</a></li>

            <li><a href="/services/download-centre.html" title="Download Centre">Download Centre</a></li>

            <li><a href="https://corporate.iciciprulife.com/Corporate/ipru/Donotdisturb.jsp" title="Do Not Call">Do Not
                Call</a></li>

            <li><a href="/local-do-not-call-check.html" title="Local DNC Check">Local DNC Check</a></li>

            <li><a href="/cookie-policy.html" title="Cookie Policy">Cookie Policy</a></li>

            <li><a href="/disclaimer.html" title="Disclaimer Policy ">Disclaimer Policy </a></li>

            <li><a href="/privacy-policy.html" title="Privacy Policy">Privacy Policy</a></li>

            <li><a href="/terms-and-conditions.html" title="Terms and Conditions">Terms and Conditions</a></li>

            <li><a href="https://www.irdai.gov.in" title="IRDAI">IRDAI</a></li>

            <li><a href="http://www.policyholder.gov.in/" title="IRDAI website for policyholder education">IRDAI
                website for policyholder education</a></li>

            <li><a href="/services/e-insurance-account.html" title="Electronic Insurance Account">Electronic Insurance
                Account</a></li>

            <li><a href="/fund-performance/product-wise-fund-performance-details.html" title="Fund Performance">Fund
                Performance</a></li>

            <li><a href="/insurance-claim.html" title="Claims">Claims</a></li>

            <li><a href="/insurance-library/customer-testimonials.html" title="Our Delighted Customers">Our Delighted
                Customers</a></li>

            <li><a href="/contact-us.html" title="Contact Us">Contact Us</a></li>

            <li><a href="/contact-us/our-network.html" title="Hospital Network">Hospital Network</a></li>

            <li><a href="https://blog.iciciprulife.com" title="Blog">Blog</a></li>

            <li><a href="https://buy.iciciprulife.com/buy/SendMeanAdvisor.htm?UID=&amp;prodCode=ALL_ULIPS&amp;utm_source="
                title="Send Me An Advisor">Send Me An Advisor</a></li>

            <li><a href="/insurance-plans/product-suite.html" title="Old Products">Old Products</a></li>

            <li><a href="https://corporate.iciciprulife.com/Corporate/certificateOfInsurance/certificateInsurance.jsp"
                title="COI">COI</a></li>

            <li><a href="https://corporate.iciciprulife.com/Corporate/certificateOfInsurance/certificateInsuranceCOIPMJJBY.jsp"
                title="COI PMJJBY">COI PMJJBY</a></li>

            <li><a href="https://buy.iciciprulife.com/buy/EBI.htm#/LAPage" title="Login Assistant">Login Assistant</a></li>

            <li><a href="/services/grievance-redressal.html" title="Grievance Redressal">Grievance Redressal</a></li>
          </ul>
          <div>
            <h4 class="open-list d-lg-block d-none" style="margin-bottom: 20px; margin-top: 30px;">Tax Planning</h4>
            <h4 class="open-list d-block d-lg-none">Tax Planning</h4>
            <ul class="footer-list toolsCalculator">
              <li><a href="/investment-options/best-tax-saving-investment-plan.html?UID=1413" title="ULIPS as a tax saving investment">ULIPS
                  as a tax saving investment</a></li>
              <li><a href="/insurance-library/income-tax/income-tax-slabs-rate-deductions.html?UID=1413" title="Income Tax Slabs &amp; Rates">Income
                  Tax Slabs &amp; Rates</a></li>
              <li><a href="/insurance-library/income-tax/how-to-save-income-tax.html?UID=1413" title="How to Save Income Tax">How
                  to Save Income Tax</a></li>
              <li><a href="/insurance-plans/tax-saving-life-insurance-plans.html?UID=1413" title="Tax Saving Life Insurance Plans">Tax
                  Saving Life Insurance Plans</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-3">
          <div itemscope="" itemtype="http://schema.org/Organization">
            <link itemprop="url" href="https://www.iciciprulife.com">
            <h4 class="open-list social-btn">Social Media Links</h4>
            <ul class="footer-list social-list">
              <li> <a itemprop="sameAs" target="_blank" href="https://www.facebook.com/ICICIPruLife">
                  <div style="background-image:url(../../../assets/images/SerImg.png)" class="img-svr1 FB"></div><span
                    class="d-lg-block d-none">Like Us on Facebook</span>
                </a> </li>
              <li> <a itemprop="sameAs" target="_blank" href="https://twitter.com/iciciprulife">
                  <div style="background-image:url(../../../assets/images/SerImg.png)" class="img-svr1 Twitter"></div><span
                    class="d-lg-block d-none">Follow Us on Twitter</span>
                </a> </li>
              <li> <a itemprop="sameAs" target="_blank" href="https://www.youtube.com/iciciprudentiallife">
                  <div style="background-image:url(../../../assets/images/SerImg.png)" class="img-svr1 Youtube"></div><span
                    class="d-lg-block d-none">Watch Our Videos</span>
                </a> </li>
              <li> <a itemprop="sameAs" target="_blank" href="https://www.linkedin.com/company/icici-prudential-life-insurance-company-limited">
                  <div style="background-image:url(../../../assets/images/SerImg.png)" class="img-svr1 LinkedIn"></div><span
                    class="d-lg-block d-none">Connect on LinkedIn</span>
                </a> </li>
              <li> <a itemprop="sameAs" target="_blank" href="https://plus.google.com/+ICICIPruLife/about">
                  <div style="background-image:url(../../../assets/images/SerImg.png)" class="img-svr1 Googleplus"></div><span
                    class="d-lg-block d-none">Add on Google Plus</span>
                </a> </li>
            </ul>
          </div>
          <p class="d-lg-block d-none">&nbsp;</p>
          <h4 class="open-list">Group Companies</h4>
          <ul class="footer-list toolsCalculator">
            <li><a href="https://www.icicibank.com/" title="ICICI Bank">ICICI Bank</a></li>
            <li><a href="https://www.icicilombard.com/" title="ICICI Lombard General Insurance">ICICI Lombard General
                Insurance</a></li>
            <li><a href="http://content.icicidirect.com/idirectcontent/Home/Home.aspx" title="ICICI Direct">ICICI
                Direct</a></li>
            <li><a href="https://www.icicipruamc.com/" title="ICICI Prudential Mutual Fund">ICICI Prudential Mutual
                Fund</a></li>
            <li><a href="http://www.icicihfc.com/" title="ICICI Home Finance">ICICI Home Finance</a></li>
            <li><a href="https://www.iciciprupensionfund.com" title="ICICI Prudential Pension FMC">ICICI Prudential
                Pension FMC</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="parbase gridsystem section">
      <div class="row mt20">
        <div class="col-xs-12 col-sm-12 col-lg-12">
          <div class="footeraddress">
            <p></p>
            <p style="text-align: left; margin-bottom: 0">© ICICI Prudential Life Insurance Co. Ltd. All rights
              reserved. Registered
              with Insurance Regulatory &amp; Development Authority of India (IRDAI) as Life Insurance Company. Regn.
              No. 105. CIN: L66010MH2000PLC127837.</p>
            <p></p>
          </div>
          <div class="footeraddress">
            <p></p>
            <div style="text-align: left;">Reg. Off.: ICICI PruLife Towers, 1089 Appasaheb Marathe Marg, Prabhadevi,
              Mumbai 400025. Tel.: 40391600. Member of the Life Insurance Council. For more details on the risk
              factors, term and conditions please read the product brochure carefully before concluding the sale. Trade
              Logo displayed above belongs to ICICI Bank Ltd &amp; Prudential IP services Ltd and used by ICICI
              Prudential Life Insurance Company Ltd under license.<br>
            </div>
            <p></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt20">
      <div class="col-lg-12">
        <div class="irdai-block">
          <div class="txt-content">
            <h6>BEWARE OF SUSPICIOUS PHONE CALLS AND FICTITIOUS/FRAUDULENT OFFERS</h6>
            <span class="list-title">IRDAI is not involved in activities like selling insurance policies, announcing
              bonus or investment of premiums. Public receiving such phone calls are requested to lodge a police
              complaint.</span>
          </div>
          <a class="ir-btn" href="/content/dam/icicipru/leaflets/IRDA_publicnotice.pdf" title="">irdai cautions public
            against spurious calls and FICTITIOUS offers</a>
        </div>
      </div>
    </div>
  </div>
</div>