<div class="container-fluid lyt-disclaimer respDisclaimer">
    <div class="col-lg-12 col-sm-12 disclaimer">
        <div class="row disclaimerCard">
            <mat-expansion-panel [expanded]="isExpanded" class="custom disclaimer-container">
                <mat-expansion-panel-header class="accord-head"  (click)="toggle()">
                    <mat-panel-title class="title">
                        DISCLAIMER
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="accord-content">
                    <div class="disclaimerContent">
                        <div class="parbase section data-input">
                            <div class="txt-unique-small contentresp">
                                <p><span class="txt-unique-small disclaimerText"><span class="d-lg-block d-none"><sup>*</sup>The
                                            above premium rate is for Cancer cover of ICICI Pru Heart and Cancer
                                            Protect for 10 lakhs for a healthy male/female,18-30 yrs age as per the age
                                            captured earlier and assumed non -smoker for a policy term of 40 years. The
                                            premium amounts are inclusive of tax.</span></span></p>
                                <p><span class="txt-unique-small disclaimerText"><span class="d-lg-block d-none"><sup>*</sup>The
                                            above premium rate is for Cancer cover of ICICI Pru Heart and Cancer
                                            Protect for 10 lakhs for a healthy male/female,31-35 yrs age as per the age
                                            captured earlier and assumed non -smoker for a policy term of 35 years. The
                                            premium amounts are inclusive of tax.</span></span></p>
                                <p><span class="txt-unique-small disclaimerText"><span class="d-lg-block d-none"><sup>*</sup>The
                                            above premium rate is for Cancer cover of ICICI Pru Heart and Cancer
                                            Protect for 10 lakhs for a healthy male/female,36-40 yrs age as per the age
                                            captured earlier and assumed non -smoker for a policy term of 30 years. The
                                            premium amounts are inclusive of tax.</span></span></p>
                                <p><span class="txt-unique-small disclaimerText"><span class="d-lg-block d-none"><sup>*</sup>
                                            The above premium rate is for Cancer cover of ICICI Pru Heart and Cancer
                                            Protect for 10 lakhs for a healthy male/female,41-50 yrs age as per the age
                                            captured earlier and assumed non -smoker for a policy term of 20 years. The
                                            premium amounts are inclusive of tax.</span></span></p>
                                <p><span class="txt-unique-small disclaimerText"><span class="d-lg-block d-none"><sup>*</sup>The
                                            above premium rate is for Cancer cover of ICICI Pru Heart and Cancer
                                            Protect for 10 lakhs for a healthy male/female,51-60 yrs age as per the age
                                            captured earlier and assumed non -smoker for a policy term of 10 years. The
                                            premium amounts are inclusive of tax.</span></span></p>
                                <p><span class="txt-unique-small disclaimerText">**The premium rate mentioned is for
                                        your current age, term selected and the sum assured chosen and are inclusive of
                                        Tax.</span></p>
                                <p><span class="txt-unique-small disclaimerText"><span class="d-lg-block d-none"><sup>~</sup>Claim
                                            statistics are for FY 2017-18 and is computed basis individual claims
                                            settled over total individual claims for the financial year. For details,
                                            refer to Public Disclosures in our Website.</span></span></p>
                                <p><span class="txt-unique-small disclaimerText"><sup>1</sup>A lump sum is paid out on
                                        diagnosis of any of the listed conditions. This payout is based on the level of
                                        the condition. In any case, the total payout in the policy cannot exceed 100%
                                        of the Sum Assured of the cover selected. Please refer to the sales brochure to
                                        know about the payouts at different level of condition.</span></p>
                                <p><span class="txt-unique-small disclaimerText"><sup>2</sup>The above mentioned
                                        premium rate is for <span style="font-family: IndianRupee;">`</span>10 Lakh
                                        Cancer Cover and <span style="font-family: IndianRupee;">`</span>10 Lakh Heart
                                        Cover for a 30 year old healthy male for a policy term of 5 years. The total
                                        single premium amount will be <span style="font-family: IndianRupee;">`</span>
                                        6,223. If you choose monthly mode, then the premium amount works out to <span
                                            style="font-family: IndianRupee;">`</span> 158.</span></p>
                                <p><span class="txt-unique-small disclaimerText"><sup>3</sup>A discount of 5% on the
                                        first year’s premium will be offered on purchase of ICICI Pru Heart / Cancer
                                        Protect when life assured and his/ her spouse is covered under the same policy.
                                        The policy benefits of both the Lives Assured shall be independent of each
                                        other. The Sums Assured of both the lives could be different. A claim made by
                                        one Life Assured under the policy does not affect benefits of other Life
                                        Assured. This Family benefit has to be chosen at the inception of the policy
                                        only, spouse cannot be added once the policy is issued. This discount is not
                                        applicable on Single Pay Policy. With one policy, you can avail either Family
                                        Benefit or Loyalty Benefit.</span></p>
                                <p><span class="txt-unique-small disclaimerText"><sup>4</sup>Existing customer discount
                                        of 5% on the first years premium is available only for policies with Regular
                                        Premium Payment Option, it is not applicable for Single pay policies. With one
                                        policy, you can avail either Family Benefit or Loyalty Benefit.</span></p>
                                <p><span class="txt-unique-small disclaimerText"><sup>5</sup>The Company shall waive
                                        all future premiums on a claim of Minor condition under the chosen cover; or on
                                        the diagnosis of Permanent Disability (PD)of the Life Assured due to an
                                        Accident. If both Cancer cover and Heart cover are chosen such waiver is
                                        allowed on a minor/major condition claim under either Cancer cover or Heart
                                        cover; or on the diagnosis of PD. This benefit is available only if the Policy
                                        is in force as on the date of diagnosis of the condition/at the time of
                                        accident.</span></p>
                                <p><span class="txt-unique-small disclaimerText"><sup>6</sup>In case of Minor
                                        Conditions, the total payout will be capped at 100% of the Sum Assured.</span></p>

                                <p><span class="txt-unique-small disclaimerText">^Chemotherapy per cycle<sup>7</sup>
                                        <span style="font-family: IndianRupee;">`</span>63,500- <span style="font-family: IndianRupee;">`</span>1,90,500
                                        + targeted therapy of 5-6 session<sup>8</sup> <span style="font-family: IndianRupee;">`</span>20
                                        lakhs + PET CT scan<sup>7</sup> <span style="font-family: IndianRupee;">`</span>19,050
                                        - <span style="font-family: IndianRupee;">`</span>28,575 = Total cost <span
                                            style="font-family: IndianRupee;">`</span>23 lakh</span></p>
                                <p><span class="txt-unique-small disclaimerText"><sup>7</sup>Source:<a class="linkWrap" href="http://www.indiahealthcaretourism.com/average_cost_of_treatment.php">http://www.indiahealthcaretourism.com/average_cost_of_treatment.php</a></span></p>
                                <p><span class="txt-unique-small disclaimerText"><sup>8</sup>Source:<a class="linkWrap" href="http://www.medgurus.org/cost-of-Cancer-treatment-in-india/">http://www.medgurus.org/cost-of-Cancer-treatment-in-india</a></span></p>
                                <p><span class="txt-unique-small disclaimerText"><sup>#</sup><a class="linkWrap" href="http://epaperbeta.timesofindia.com/Article.aspx?eid=31808&amp;articlexml=Cancer-cases-in-India-likely-to-soar-25-19052016011038">http://epaperbeta.timesofindia.com/Article.aspx?eid=31808&amp;articlexml=Cancer-cases-in-India-likely-to-soar-25-19052016011038</a></span></p>

                                <p><span class="txt-unique-small disclaimerText">
                                        Tax benefits will apply to the premiums paid and benefits received as per the
                                        prevailing tax laws. Tax benefits under the policy are subject to conditions
                                        u/s 80D of the Income Tax Act, 1961. Indirect taxes and applicable cesses will
                                        be charged extra over the premium amount as per the applicable rates. Tax laws
                                        are subject to amendments from time to time. ICICI Pru Heart/Cancer Protect:
                                        UIN 105N154V01. W/II/2641/2018-19</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bottom"></div>
            </mat-expansion-panel>
        </div>
    </div>
</div>