mat-expansion-panel.custom {
    padding: 5px 35px;
    background: #fff;
  }
  .mat-expansion-panel{
    border-radius: 0px;
  }
  :host >>> .mat-expansion-panel-body {
    padding: 0;
    border-bottom: 1px #969696 solid;
  }
  :host >>> .mat-expansion-panel-content,
  :host >>> .mat-expansion-panel-header {
    font-family: ZurichBT-Roman !important;
  }
  .disclaimer-container {
    /* box-shadow: 1px 0px 1px 1px #cac6c6; */
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    background: #eee;
    z-index: 1;
    transition: height 0.5s ease-in;
    transition-duration: 0.5s;
    width: 100%;
    padding: 5px 0 !important;
  }
  .title {
    font-weight: 600;
    color:#6a6a6a;
  }
  .disclaimer-container .mat-expansion-panel-header {
    position: relative;
    /* top: -4px; */
    top: 5px;
    border-bottom: 1px #969696 solid;
    justify-content: center;
  }
  .mat-expansion-indicator {
    position: relative;
    top: -4px;
  }
  .accord-content {
    /* height: 400px; */
    height: auto;
    /* overflow-y: scroll; */
    display: block;
    background: white;
    padding: 10px;
  }
  mat-expansion-panel-header.dis-header {
    border-bottom: solid 1px #444;
    background-color: #eee !important;
  }
  .lyt-disclaimer {
    background: #eee;
  }
  .info-note {
    font-size: 12px;
    line-height: 18px;
    padding: 10px;
    border: solid 1px #444;
    margin-bottom: 10px;
  }
  .info-note .note-title {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .info-note .note-sub-title {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  .info-note ul li {
    list-style-type: disc;
    margin-left: 15px;
  }
  .lyt-disclaimer .cont p {
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 18px;
  }
  .cont {
    margin-top: 20px;
  }
  .linkText {
    color: #004b7c;
  }
  .disclaimerContent p {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 18px;
    font-weight: 500;
  }
  sub, sup {
    font-size: 100%;
  }
  .txt-unique-small {
    color: #444;
    font-family: ZurichBT-Roman;
    font-size: 14px;
    margin-bottom: 15px;
}
.txt-unique-small {
  color: #444;
  font-family: ZurichBT-Roman;
  font-size: 14px;
  margin-bottom: 15px;
}
.disclaimerText {
  font-size: 12px;
}
.contentresp {
  display: block; 
  padding: 5px 10px 10px 10px;
}
.linkWrap{
  word-break: break-word;
}
.disclaimer{
  padding: 0 10%;
}
.respDisclaimer {
  min-height: 100px;
  background: #fff;
}

@media (min-width: 1920px) {
    .disclaimerCard {
      padding: 0px 15%;
    }
  }
  
  @media (max-width: 768px) {
    mat-expansion-panel.custom {
      padding: 0px 0px;
    }
    .lyt-disclaimer{
      float: Left;
    }
    .respDisclaimer {
      padding-right: 0px;
      padding-left: 0px;
    }
    .contentresp {
        display: block;
        padding: 5px 0px 10px 0px;
    }
    .disclaimer {
      padding: 0 4%;
    }
  }
  