.dependOn {
    padding: 70px 0;
    background-color: rgba(248,248, 248, 0.5);
  }
.dependOn-wrapper {
    float: left;
}
.news-card {
    max-width: 555px;
    min-height: 255px;
    box-shadow: 0px 0px 4px 0px #fff;
    margin: 0px 0px;
    padding: 10px 0px;
}
.news-card .p-l-20 {
    background-image: url(../../../assets/images/iconsSprite.png);
    background-repeat: no-repeat;
    height: 85px;
    padding-top: 75px;
    width: 355px;
}
.img1refund {
    background-position: -11px 0px;
}
.img2refund {
    background-position: -36px -90px;
}
.news-card .sub-heading {
    font-size: 22px;
    text-align: left;
    font-family: ZurichBT-Bold;
    color: rgb(9, 73, 132 );
    margin: 20px 0px 8px;
    padding: 6px 0px 0px;
}
.news-card .p-l-20 .para {
    font-size: 17px;
    width: 90%;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #444;
}

@media (min-width: 1920px) {
    .dependOnPadding {
    padding: 0px 11%;
    }
}

@media screen and (max-width: 768px){
    
}

@media (max-width: 767px) {
    .news-card .p-l-20 {
        padding-top: 90px;
        padding-left: 0px;
        height: 45px;
        min-height: auto;
        text-align: center;
        width: 100%;
    }
    .news-card .sub-heading {
        font-size: 22px;
        margin: 0px 0px 5px;
        padding: 5px 0px 0px 0px;
        text-align: center;
        display: block;
    }
    .news-card .p-l-20 .para {
        width: 100%;
        line-height: 22px;
        margin-top: 15px;
        font-size: 16px;
    }
    .img1refund {
        background-position: 50% 5px;
    }
    .img2refund {
        background-position: 50% -82px;
    }
}