/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {  
    background-color: #fff;
    color: #000;
    font-family: 'ZurichBT-Roman';
    margin: 0;
    padding: 0;
}

/* @font-face {
    font-family: 'ZurichCnBT-Bold';
    src: url('/etc/designs/icicipru/font/Zurich_Cn_BT_Bold.eot');
    src: url('/etc/designs/icicipru/font/Zurich_Cn_BT_Bold.eot?#iefix') format('embedded-opentype'), url('/etc/designs/icicipru/font/Zurich_Cn_BT_Bold.woff') format('woff'), url('/etc/designs/icicipru/font/Zurich_Cn_BT_Bold.ttf') format('truetype'), url('/etc/designs/icicipru/font/Zurich_Cn_BT_Bold.svg#ZurichBT-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'ZurichCnBT';
    src: url('/etc/designs/icicipru/font/Zurich_Cn_BT.eot');
    src: url('/etc/designs/icicipru/font/Zurich_Cn_BT.eot?#iefix') format('embedded-opentype'), url('/etc/designs/icicipru/font/Zurich_Cn_BT.woff') format('woff'), url('/etc/designs/icicipru/font/Zurich_Cn_BT.ttf') format('truetype'), url('/etc/designs/icicipru/font/Zurich_Cn_BT.svg#ZurichBT-Roman') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
} */


 @font-face {
    font-family: 'ZurichBT-Roman';
    src: url('./assets/fonts/ZurichBT-Bold.eot');
    src: url('./assets/fonts/ZurichBT-Roman.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/ZurichBT-Roman.woff2') format('woff2'), url('./assets/fonts/ZurichBT-Roman.woff') format('woff'), url('./assets/fonts/ZurichBT-Roman.ttf') format('truetype'), url('./assets/fonts/ZurichBT-Roman.svg#ZurichBT-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZurichBT-Bold';
    src: url('./assets/fonts/ZurichBT-Bold.eot');
    src: url('./assets/fonts/ZurichBT-Bold.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/ZurichBT-Bold.woff2') format('woff2'), url('./assets/fonts/ZurichBT-Bold.woff') format('woff'), url('./assets/fonts/ZurichBT-Bold.ttf') format('truetype'), url('./assets/fonts/ZurichBT-Bold.svg#ZurichBT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
} 

 /* @font-face {
    font-family: 'IndianRupee';
    src: url('./assets/fonts/IndianRupee-Regular_gdi.woff');
     src: url('./assets/fonts/IndianRupee-Regular_gdi.woff?#iefix') format('embedded-opentype'), url('./assets/fonts/IndianRupee-Regular_gdi.woff') format('woff'); 
}  */


 /* @font-face {
    font-family: 'ZurichBT-Roman';
    src: url('./assets/fonts/ZurichBT-Roman_gdi.woff');
    src: url('./assets/fonts/ZurichBT-Roman_gdi.woff?#iefix') format('embedded-opentype'), url('./assets/fonts/ZurichBT-Roman_gdi.woff') format('woff'), url('./assets/fonts/ZurichBT-Roman_gdi.woff') format('woff'), url('./assets/fonts/ZurichBT-Roman_gdi.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ZurichBT-Bold';
    src: url('./assets/fonts/ZurichBT-Bold_gdi.woff');
    src: url('./assets/fonts/ZurichBT-Bold_gdi.woff?#iefix') format('embedded-opentype'), url('./assets/fonts/ZurichBT-Bold_gdi.woff') format('woff'), url('./assets/fonts/ZurichBT-Bold_gdi.woff') format('woff'), url('./assets/fonts/ZurichBT-Bold_gdi.woff') format('truetype');
    font-weight: bold;
    font-style: normal;
}   */

.sec-head {
    text-align: center;
    margin-bottom: 50px;
  }
  .sec-head .sec-title {
    font-size: 30px;
    color: #004b7c;
    font-family: "ZurichBT-Roman";
    font-weight: 300;
}
.cm-line-break {
    display: block;
}
.sec-head .sec-title .cm-line-break {
    font-size: 38px;
    font-weight: 700;
    margin-top: 8px;
    font-family: "ZurichBT-Bold";
}
.sec-head .sec-title .cm-line-break .divider {
    width: 68px;
    background: rgb(5, 60, 109);
    height: 1px;
    display: inline-block;
    margin: 0 80px;
    position: relative;
    top: -10px;
}

@media screen and (max-width: 768px){
    .sec-head {
        margin-bottom: 20px;
    }
    .sec-head .sec-title {
        font-size: 18px;
        margin: 10px 0px;
    }
    .sec-head .sec-title .cm-line-break {
        font-size: 24px;
        margin-top: 0px;
        font-weight: normal;
    }
    .sec-head .sec-title .cm-line-break .divider {
        width: 13px;
        margin: 0 12px;
        top: -5px;
    }
}